<div class="main container-fluid">
    <div class="row">
        <div class="col-md-2">
            {{> courses-navbar courses=courses active=active}}
        </div>
        <div class="col-md-8 text-center">
            <h2>{{course.name}}</h2>
            <img src="{{course.image}}" alt="{{course.name}}" class="w-100">
            <p>{{course.description}}</p>
            <button class="btn btn-red btn-mb20" onclick="registerCourse()">Đăng ký</button>
        </div>
        <div class="col-md-2">
            
        </div>
    </div>
</div>

{{!-- Register course hidden form --}}
<form method="POST" name="register-course-form">
    <input type="hidden" name="courseId">
    <input type="hidden" name="courseName">
</form>

<script>
    const registerCourse = () => {
        if ("{{student}}" !== "") {
            var registerCourseForm = document.forms["register-course-form"];
            document.forms["register-course-form"]["courseId"].value = "{{course._id}}";
            document.forms["register-course-form"]["courseName"].value = "{{course.name}}";
            registerCourseForm.action = "/register-course/{{student}}" + "?_method=PUT";
            registerCourseForm.submit();
        }
        else {
            alert("Bạn chưa đăng nhập!");
        }
    }
</script>