<header class="container-fluid" id="top">
    <div class="row">
        <nav class="navbar navbar-expand-sm color-topnav p-0">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".menu-bar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse menu-bar">
                    <ul class="navbar-nav ms-auto">
                        <li class="mt-auto mb-auto pt-1 pb-1">
                            <form class="d-flex ms-auto" action="" method="get">
                                <input class="form-control me-2" type="search" id="search" name="search" placeholder="Tìm kiếm">
                                <button class="btn btn-search p-0" type="submit">
                                    <img src="/images/search.png" alt="search" class="btn-img">
                                </button>
                            </form>
                        </li>
                        {{#if student}}
                        {{> topbar-user}}
                        {{else}}
                        {{> topbar-visitor}}
                        {{/if}}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="col-md-3 p-2 text-center mt-auto mb-auto">
            <a href="/">
                <img src="/images/logo.png" alt="funlish" width="90%">
            </a>
            <img src="/images/img1.png" alt="students" width="70%">
        </div>
        <div class="col-md-9 text-center mt-auto">
            <nav class="navbar navbar-expand-sm header">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse menu-bar">
                        <ul class="navbar-nav ms-auto">
                            {{!-- {{#each sites}}
                                <li class="nav-item color-{{this.code}}">
                                    <a class="nav-link btn-menu" href="/{{this.code}}">
                                        <img src="{{this.icon}}" class="btn-img">{{this.name}}
                                    </a>
                                </li>
                            {{/each}} --}}

                            <li class="nav-item color-home">
                                <a class="nav-link btn-menu" href="/">
                                    <img src="/images/menu-home.png" alt="home" class="btn-img">Trang chủ
                                </a>
                            </li>
                            <li class="nav-item color-courses">
                                <a class="nav-link btn-menu" href="/courses">
                                    <img src="/images/menu-courses.png" alt="courses" class="btn-img">Khóa học
                                </a>
                            </li>
                            <li class="nav-item color-play">
                                <a class="nav-link btn-menu" href="/play">
                                    <img src="/images/menu-play.png" alt="play" class="btn-img">Chơi mà học
                                </a>
                            </li>
                            <li class="nav-item color-blog">
                                <a class="nav-link btn-menu" href="/blog">
                                    <img src="/images/menu-blog.png" alt="blog" class="btn-img">Blog chia sẻ
                                </a>
                            </li>
                            <li class="nav-item color-about">
                                <a class="nav-link btn-menu" href="/about">
                                    <img src="/images/menu-about.png" alt="about" class="btn-img">Về chúng tôi
                                </a>
                            </li>
                            <li class="nav-item color-contact">
                                <a class="nav-link btn-menu" href="/contact">
                                    <img src="/images/menu-contact.png" alt="contact" class="btn-img">Liên hệ
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>