<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
            role="tab" aria-controls="nav-home" aria-selected="true">Matching game</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
            role="tab" aria-controls="nav-profile" aria-selected="false">Word guessing game</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button"
            role="tab" aria-controls="nav-contact" aria-selected="false">Fun stories</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    
    {{!-- Matching Game --}}
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <form method="POST" action="/play/matching-game/create" name="create-topic-form" onsubmit="return validateMatchingGameForm(event)">
            <div class="row">
                <div class="col-md-2 mt-3 mb-3">
                    <label for="topic" class="form-label">Chủ đề</label>
                </div>
                <div class="col-md-4 mt-3 mb-3">
                    <input type="text" class="form-control" id="topic" name="topic">
                </div>
                <div class="col-md-6 mt-3 mb-3">
                    <button type="submit" class="btn btn-primary">Thêm chủ đề</button>
                </div>
            </div>
        </form>

        <ol class="list-group list-group-numbered">
            {{#each matchinggames}}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{this.topic}}
                            <a href="/admin/play/matching-game/cards/{{this.topic}}" class="btn btn-secondary mb-2">+</a>
                        </div>
                        <div class="row">
                            {{#each this.cards}}
                                <div class="card" style="width: 18rem;">
                                    <img src="{{this.picture}}" class="card-img-top" alt="{{this.word}}">
                                    <div class="card-body text-center">
                                        <p class="card-text bg-info">{{this.word}}</p>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                    <span class="badge bg-primary rounded-pill">{{this.cards.length}}</span>
                </li>
            {{/each}}
        </ol>
    </div>

    {{!-- Word Guessing Game --}}
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <form method="POST" action="/play/word-guessing-game/create" name="create-words-form" onsubmit="return validateWordGuessingGameForm(event)">
            <div class="input-group mt-3 mb-3 ps-5 pe-5">
                <input type="text" class="form-control" placeholder="Từ tiếng Anh" id="enword" name="enword">
                <span class="input-group-text">:</span>
                <input type="text" class="form-control" placeholder="Nghĩa tiếng Việt" id="viword" name="viword">
                <button type="submit" class="btn btn-primary">Thêm từ mới</button>
            </div>
        </form>

        <table class="table">
            <thead>
                <tr class="text-center">
                    <th scope="col"></th>
                    <th scope="col">Từ tiếng Anh</th>
                    <th scope="col">Nghĩa tiếng Việt</th>
                </tr>
            </thead>
            <tbody>
                {{#each words}}
                    <tr class="text-center">
                        <th scope="row">{{increaseIndex @index}}</th>
                        <td>{{this.enword}}</td>
                        <td>{{this.viword}}</td>
                    </tr>
                {{else}}
                <h2>Chưa có từ vựng nào được tạo!</h2>
                {{/each}}
            </tbody>
        </table>
    </div>

    {{!-- Fun Stories --}}
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <h4 class="text-center">Fun stories</h4>
    </div>

</div>

<script>
    const validateMatchingGameForm = (e) => {
        const topic = document.forms["create-topic-form"]["topic"].value;
        if (topic === "") {
            alert("Thông tin chủ đề còn trống!");
            e.preventDefault();
        }
    }

    const validateWordGuessingGameForm = (e) => {
        const createWordsForm = document.forms["create-words-form"];
        const enword = createWordsForm["enword"];
        const viword = createWordsForm["viword"];
        if (enword === "" || viword === "") {
            alert("Thông tin từ vựng còn trống!");
            e.preventDefault();
        }
    }
</script>