<div class="main container-fluid">
    <div class="row">
        <div class="col-md-2 text-center">
            {{> profile-navbar}}
        </div>
        <div class="col-md-10 text-center">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Progress</th>
                    <th scope="col">Result</th>
                    <th scope="col">Registered at</th>
                    <th scope="col"></th>
                    {{!-- <th scope="col">Handle</th> --}}
                    </tr>
                </thead>
                <tbody>
                    {{#each student.courses}}
                        <tr>
                            <th scope="row">{{increaseIndex @index}}</th>
                            <td>{{this.courseName}}</td>
                            <td>{{this.progress}}</td>
                            <td>{{this.result}}</td>
                            <td>{{formatDateTime this.registeredDate}}</td>
                            <td>
                                <a class="btn btn-blue" href="/courses/learn/{{this.courseId}}">Tiếp tục học</a>
                            </td>
                        </tr>
                    {{else}}
                    <h2>Bạn chưa đăng ký khóa học nào!</h2>
                    {{/each}}
                </tbody>
            </table>
        </div>

        {{!-- <div class="col-md-6 text-center">
            <p>[Content]</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="{{user.avatar}}" width="100%">
            <h1>{{user.username}}</h1>
            <h2>{{user.name}}</h2>
            <p>{{formatDate user.birthday}}</p>
            <p>{{user.email}}</p>
            <p>{{user.phone}}</p>
        </div> --}}
    </div>
</div>