<div class="main container-fluid">
    <div class="row">
        <div class="col-md-2 text-center">
            {{> profile-navbar active=active}}
        </div>
        <div class="col-md-6 text-center">
            <div class="floating-border">
                <h3 class="text-bold">Customize your character!</h3>
                <img src="{{student.avatar}}" width="70%" id="character"><br>
                {{#each characters}}
                    <button class="btn btn-character" onclick="changeCharacter('{{this.image}}')">
                        <img src="{{this.image}}">
                    </button>
                {{/each}}
                <br>
                <button type="button" class="btn btn-blue" onclick="editAvatar()">Save</button>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="floating-border">
                <img src="{{student.avatar}}" width="50%">
                <h1>{{student.username}}</h1>
                <h2>{{student.name}}</h2>
                <p>{{formatDate student.birthday}}</p>
                <p>{{student.email}}</p>
                <p>{{student.phone}}</p>
            </div>
        </div>
    </div>
</div>

{{!-- Edit avatar hidden form --}}
<form method="POST" name="edit-avatar-form">
    <input type="hidden" name="character">
</form>

<script>
    var characterImage;
    const changeCharacter = (image) => {
        document.getElementById("character").setAttribute("src", image);
        characterImage = image;
    }
    const editAvatar = () => {
        var editAvatarForm = document.forms["edit-avatar-form"];
        document.forms["edit-avatar-form"]["character"].value = characterImage;
        editAvatarForm.action = "/profile/" + "{{student.username}}" + "?_method=PUT";
        editAvatarForm.submit();
    }
</script>