<div class="main container-fluid">
    <div class="row">
        <div class="col-md-2 text-center">
            {{> profile-navbar}}
        </div>
        <div class="col-md-10 text-center">
            <div class="tab-settings">
                <ul class="nav nav-tabs" id="settings-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info-tab-item" type="button" role="tab" aria-controls="info" aria-selected="true">Thông tin cá nhân</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="password-tab" data-bs-toggle="tab" data-bs-target="#password-tab-item" type="button" role="tab" aria-controls="password" aria-selected="false">Đổi mật khẩu</button>
                    </li>
                </ul>
                <div class="tab-content" id="settings-tab-content">
                    <div class="tab-pane fade show active" id="info-tab-item" role="tabpanel" aria-labelledby="info-tab">
                        <form class="text-center" method="POST" action="/info/{{student._id}}?_method=PUT" name="update-student-info-form" onsubmit="return validateInfo(event)">
                            <div class="row container-fluid">
                                <div class="col-sm-6">
                                    <label for="firstname">Tên:</label><br>
                                    <input type="text" id="firstname" name="firstname" placeholder="Tên" value="{{student.firstname}}">
                                </div>
                                <div class="col-sm-6">
                                    <label for="lastname">Họ:</label><br>
                                    <input type="text" id="lastname" name="lastname" placeholder="Họ" value="{{student.lastname}}">
                                </div>
                            </div>
                            <div class="row container-fluid">
                                <div class="col-sm-6">
                                    <label for="email">Địa chỉ email:</label><br>
                                    <input type="email" id="email" name="email" placeholder="Địa chỉ email" value="{{student.email}}">
                                </div>
                                <div class="col-sm-6">
                                    <label for="birthday">Ngày sinh:</label><br>
                                    <input type="date" id="birthday" name="birthday" value="{{shortDate student.birthday}}">
                                </div>
                            </div>
                            <input class="btn btn-red btn-160" style="margin-bottom: 20px;" type="submit" value="Cập nhật">
                        </form>
                    </div>
                    <div class="tab-pane fade" id="password-tab-item" role="tabpanel" aria-labelledby="password-tab">
                        <form method="POST" action="/password/{{student.username}}?_method=PUT" name="change-password-form" onsubmit="return validateForm(event)">
                            <input type="password" id="current-password" name="currentPassword" placeholder="Mật khẩu hiện tại">
                            <button type="button" style="position: absolute;" class="btn btn-password" onclick="showHidePassword('current-password')">
                                <img src="/images/show-password.png" alt="show password" class="btn-img" id="icon-current-password">
                            </button><br>
                            <input type="password" id="new-password" name="newPassword" placeholder="Mật khẩu mới" style="position: relative;">
                            <button type="button" style="position: absolute;" class="btn btn-password" onclick="showHidePassword('new-password')">
                                <img src="/images/show-password.png" alt="show password" class="btn-img" id="icon-new-password">
                            </button><br>
                            <input type="password" id="re-password" name="rePassword" placeholder="Xác nhận mật khẩu" style="position: relative;">
                            <button type="button" style="position: absolute;" class="btn btn-password" onclick="showHidePassword('re-password')">
                                <img src="/images/show-password.png" alt="show password" class="btn-img" id="icon-re-password">
                            </button><br>
                            <div id="error1" style="display: none;">Mật khẩu hiện tại không chính xác!</div>
                            <input class="btn btn-red btn-160 btn-mb20" type="submit" value="Cập nhật">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const showHidePassword = (id) => {
        let password = document.getElementById(id);
        let icon = document.getElementById(`icon-${id}`);
        if (password.type === "text") {
            password.type = "password";
            icon.src = "/images/show-password.png";
            icon.alt = "show password";
        }
        else {
            password.type = "text";
            icon.src = "/images/hide-password.png";
            icon.alt = "hide password";
        }
    }

    const validateForm = (e) => {
        const currentPassword = document.forms["change-password-form"]["current-password"].value;
        const newPassword = document.forms["change-password-form"]["new-password"].value;
        const rePassword = document.forms["change-password-form"]["re-password"].value;
        if (currentPassword === "" || newPassword === "" || rePassword === "") {
            alert("Thông tin mật khẩu còn trống!");
            e.preventDefault();
        }
        else if (newPassword !== rePassword) {
            alert("Mật khẩu không trùng khớp!");
            e.preventDefault();
        }
    }

    const validateInfo = (e) => {
        const updateInfoForm = document.forms["update-student-info-form"];
        const email = updateInfoForm["email"].value;
        const firstname = updateInfoForm["firstname"].value;
        const lastname = updateInfoForm["lastname"].value;
        const birthday = updateInfoForm["birthday"].value;
        console.log(updateInfoForm["birthday"].value);
        if (email === "" || firstname === "" || lastname === "" || birthday === "") {
            alert("Thông tin còn trống!");
            e.preventDefault();
        }
        else if (!(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email))) {
            alert("Email không hợp lệ!");
            e.preventDefault();
        }
    }

    // Show error line of failed signing up
    const errorLog = document.getElementById("error");
    if ('{{failed}}' !== '') {
        errorLog.style.display = "block";
    }
    else {
        errorLog.style.display = "none";
    }
</script>